<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="University.aspx.vb" Inherits="Lab6_TemplateWebsite.University" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <header>
        </header>
        <nav></nav>
        <main> 
            <asp:ContentPlaceHolder></asp:ContentPlaceHolder>
        </main>
    </form>
</body>
</html>
